
/*---------------------------*/
/*		   general
/*---------------------------*/

body,
.posts .title-meta .entry-meta { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

body {
	background: #000000 ; 
}

h1,h2,h3,h4,h5,h6,
.entry-time,
.header-main-menu .trigger,
.header-search input,
.entry-meta,
blockquote,
.the-author,
.comment-meta,
label { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

.logo .logo-text,
.footer-widgets,
.page-numbers li span,
.next-prev a:hover,
.page-links .current,
.content input[type="submit"]:hover,
.slider .entry-header,
.slider .entry-content,
.flex-direction-nav .flex-prev,
.flex-direction-nav .flex-next,
.widget_tag_cloud a:hover { 
	background-color: #000000;  
}

.top-bar-section ul li > a:hover,
.top-bar-section ul li.active > a,
.heading,
a,
a:hover,
.page-title,
.the-author a,
.entry-content .widget-title,
.featured-image:hover a:after { color: #000000; }

@media (min-width: 768px) {
	logo { width: 0px; }
	.logo img,
	.logo-text {
		width: 0px;
		height: 0px;
	}
	.header-main-row { padding-left: -50px; }
	.header-main-menu .trigger { 
		height: 0px; 
		line-height: 0px; 
	}
	.header-search { height: 0px; }
	.header-search form { 
		0px; 
		width: 100%;
		display: table;
		height: 100%;
	}
	.header-search form > .row {
		display: table-cell;
		text-align: center;
		vertical-align: middle;
	}
}

/*---------------------------*/
/*		  custom css
/*---------------------------*/	
 
/* Do Not Display */
.logo,
.header-main {display:none;}

/* Flash News Banner Style Fixes */
.orbit-container .orbit-slides-container {margin-top: -1px;}

.flash-news {
  padding: 15px 0 15px 0px;
  font-size: 1.25em;
  font-weight: bold;
}

.flash-header {
  border-right: 1px solid #000;
  padding-right: 5px;
  font-weight: bold;
}

.flash-news .orbit-container {margin-left: 7px;}

/* Make Titles Bold */
.entry-title {font-weight:bold;}

/* Shift Home Sidebar Area */
.home #sidebar {
  padding-top: 16px;
  padding-left: 10px;
  padding-right: 0;
}

/* Darken Font Color */
body {color: #333;}

/* Button Color */

button,
button:hover, 
button:focus, 
.button,
.button:hover, 
.button:focus {
  background-color: #3770a3;
  border-color: #3770a3;
}

@media only screen and (min-width: 940px){

   /* Nav Background Color */
  .primary-menu,
  .top-bar,
  .top-bar-section li a:not(.button) {background: #999;}

  /* Nav Divider Color and Changes */
  .primary-menu .top-bar-section > ul > .divider {
    margin-top: 0px;
    height: 1px;
    width: 1px;
  }

  /* Primary Nav Link Typography */
    .top-bar-section ul li > a {
    font-weight: bold; 
    font-size: 1.2em;
    color: #fff;
  }
}